.speech {
    font-family:'Courier New', Courier, monospace;
    font-size:12;
    color:black;
}

.direction {
    font-family:'Times New Roman', Times, serif;
    font-size:13;
    color:black;
    background-color:bisque;
}

.direction:hover {
    color:coral;
    background-color:antiquewhite;
}

.nora {
    font-weight:bold;
    color:black;
}

.nurse {
    font-weight:bold;
    color:blueviolet;
}

.nora:hover {
    text-shadow:2px 3px 5px darkblue, -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    
}

.nurse:hover {
    text-shadow:2px 3px 5px darkblue, -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.table {
    text-align:center;
    border-width:1.5px;
    border-style:solid;
    border-color:black;
    border-collapse:collapse;
}

.tr:nth-child(even) {
    background-color:#f2f2f2;
}

.th {
    border-width:1.5px;
    border-style:solid;
    border-color:black;
    background-color:seagreen;
    color:white;
    border-collapse:collapse;
    padding:5px;
}

.td {
    border-width:1.5px;
    border-style:solid;
    border-color:black;
    color:black;
    border-collapse:collapse;
    padding:5px;
}