.speech {
    font-family:'Times New Roman', Times, serif;
    font-size:12;
    color:black;
}

.direction {
    font-family:'Courier New', Courier, monospace;
    font-size:13;
    color:black;
    background-color:bisque;
}

.direction:hover {
    color:crimson;
    background-color:burlywood;
}

.nora {
    font-weight:bold;
    color:black;
}

.nurse {
    color:cadetblue;
}